<IfModule mod_rewrite.c>
    RewriteEngine On

    # RewriteBase if your project is in a subdirectory
    RewriteBase /IntegrativeProgramming/finals/BlogWebApp/

    # Exclude static files from being routed through index.php
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)$ - [L]

    # Redirect all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule> 
